<div id="{{ id }}" style="width: {{ width }}px; height: {{ height }}px"></div>
{{type}}
{% if not instances %}
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

		<script>
			var map = L.map('{{ id }}').setView([{{ lat }}, {{ lng }}], {{ zoom }});

			L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			var marker = L.marker([{{ lat_marker }}, {{ lng_marker }}])
				.addTo(map)
				.bindPopup("{{ address }}")
            	.openPopup();
		</script>

{% endif %}
